# {{ ansible_managed }}
[Unit]
Description=Prometheus hdhomerun exporter
Documentation=https://github.com/mdlayher/hdhomerun_exporter
Wants=network-online.target
After=network-online.target

[Service]
User=hdhomerun_exporter
Group=hdhomerun_exporter
Type=simple
ExecStart={{ host_bin_path }}/hdhomerun_exporter

[Install]
WantedBy=multi-user.target
