# {{ ansible_managed }}
groups:
- name: default
  rules:
  - alert: InstanceDown
    expr: up{instance!~"nerr-3.*"} == 0
    for: 2m
    labels:
      severity: critical
    annotations:
{% raw %}
      summary: "Instance {{ $labels.instance }} is down."
      description: "{{ $labels.instance }} of job {{ $labels.job }} has been down for more than 2 minutes."
{% endraw %}
  - alert: ServiceDown
    expr: probe_success{instance!~"nerr-3.*"} == 0
    for: 2m
    labels:
      severity: critical
    annotations:
{% raw %}
      summary: "Service {{ $labels.instance }} is down."
      description: "{{ $labels.instance }} of job {{ $labels.job }} has been down for more than 2 minutes."
{% endraw %}
