# {{ ansible_managed }}
groups:
- name: default
  rules:
  - alert: InstanceDown
    # rtorrent can be flappy and needs a longer interval.
    expr: up{instance!~"nerr-3.*",job!="rtorrent"} == 0
    for: 2m
    labels:
      severity: critical
    annotations:
{% raw %}
      summary: "Instance {{ $labels.instance }} is down."
      description: "{{ $labels.instance }} of job {{ $labels.job }} has been down for more than 2 minutes."
{% endraw %}
  - alert: ServiceDown
    expr: probe_success{instance!~"nerr-3.*"} == 0
    for: 2m
    labels:
      severity: critical
    annotations:
{% raw %}
      summary: "Service {{ $labels.instance }} is down."
      description: "{{ $labels.instance }} of job {{ $labels.job }} has been down for more than 2 minutes."
{% endraw %}
  - alert: RtorrentDown
    # rtorrent can be flappy and needs a longer interval.
    expr: up{job="rtorrent"} == 0
    for: 120m
    labels:
      severity: critical
    annotations:
{% raw %}
      summary: "rTorrent {{ $labels.instance }} is down."
{% endraw %}
  - alert: TLSCertificateNearExpiration
    expr: probe_ssl_earliest_cert_expiry - time() < 60 * 60 * 24 * 2
    for: 1m
    labels:
      severity: critical
    annotations:
{% raw %}
      summary: "TLS certificate for {{ $labels.instance }} will expire in less than 2 days."
{% endraw %}
