# {{ ansible_managed }}
# prometheus configuration, Matt Layher, 2016-04-15

global:
  scrape_interval:     15s
  evaluation_interval: 15s

rule_files:
  - alerts.rules

scrape_configs:
{% for job in prometheus_jobs %}
  - job_name: "{{ job.job }}"
  {% if job.scrape_interval is defined %}
  scrape_interval: "{{ job.scrape_interval }}"
  {% endif %}
  static_configs:
    - targets: {{ job.targets | to_yaml }}
{% if job.scheme is defined %}
    scheme: "{{ job.scheme }}"
{% endif %}
{% if job.path is defined %}
    metrics_path: "{{ job.path }}"
{% endif %}
{% if job.params is defined %}
    params:
      {{ job.params | to_yaml }}
{% endif %}
{% if job.relabel_target is defined %}
    relabel_configs:
    - source_labels: [__address__]
      target_label: __param_target
    - source_labels: [__param_target]
      target_label: instance
    - target_label: __address__
      replacement: "{{ job.relabel_target }}"
{% endif %}
{% endfor %}
alerting:
  alertmanagers:
    - static_configs:
      - targets: {{ prometheus_alertmanagers | to_yaml }}
