# {{ ansible_managed }}
[Unit]
Description=Prometheus apcupsd exporter
Documentation=https://github.com/mdlayher/apcupsd_exporter
Requires=apcupsd.service
Wants=network-online.target
After=network-online.target apcupsd.service

[Service]
User=apcupsd_exporter
Group=apcupsd_exporter
Type=simple
ExecStart={{ host_bin_path }}/apcupsd_exporter

[Install]
WantedBy=multi-user.target
