# {{ ansible_managed }}
[Unit]
Description=Prometheus Alertmanager alerting system
Documentation=https://prometheus.io/docs/introduction/overview/
Wants=network-online.target
After=network-online.target

[Service]
User=alertmanager
Group=alertmanager
Type=simple
ExecStart={{ host_bin_path }}/alertmanager \
	--config.file {{ alertmanager_config }}/alertmanager.yml \
	--storage.path {{ alertmanager_data }} \
	--web.external-url {{ alertmanager_external_url }}

[Install]
WantedBy=multi-user.target
