server {
	# Listen IPv4 and IPv6
	listen 80 default_server;
	listen [::]:80 default_server ipv6only=on;

	# Set up web root, set up index pages for default site
	root /usr/share/nginx/html;
	index index.html index.htm;

	# Identify server by name
	server_name localhost;

	# Use nginx standard error pages
	error_page 404 /404.html;
	error_page 500 502 503 504 /50x.html;
	location = /50x.html {
		root /usr/share/nginx/html;
	}

	# Set up XML-RPC for rtorrent
	location /RPC2 {
		allow {{ nginx_xmlrpc_allowed }};
		allow 127.0.0.1;
		deny  all;

		scgi_pass {{ nginx_xmlrpc_host }};
		include   scgi_params;
	}
}
