# {{ ansible_managed }}
[Unit]
Description=Dropbox daemon
Documentation=https://www.dropbox.com/install
Wants=network-online.target
After=network-online.target

[Service]
User=dropboxd
Group=dropboxd
Type=simple
Restart=on-failure
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3
ExecStart=/home/dropboxd/.dropbox-dist/dropboxd

[Install]
WantedBy=multi-user.target
