# {{ ansible_managed }}
[Unit]
Description=Traefik HTTP reverse proxy
Documentation=https://docs.traefik.io/
Wants=network-online.target
After=network-online.target

[Service]
User=traefik
Group=traefik
Type=simple
ExecStart={{ host_bin_path }}/traefik \
	-c {{ traefik_config_dir }}/traefik.toml

[Install]
WantedBy=multi-user.target
