# {{ ansible_managed }}
[Unit]
Description=Prometheus arris exporter
Documentation=https://github.com/mdlayher/arris_exporter
Wants=network-online.target
After=network-online.target

[Service]
User=arris_exporter
Group=arris_exporter
Type=simple
ExecStart=/usr/local/bin/arris_exporter

[Install]
WantedBy=multi-user.target
