# {{ ansible_managed }}
[Unit]
Description=Prometheus node exporter
Documentation=https://github.com/prometheus/node_exporter
Wants=network-online.target
After=network-online.target

[Service]
User=node_exporter
Group=node_exporter
Type=simple
ExecStart={{ host_bin_path }}/node_exporter {% if node_exporter_use_textfile is sameas true %}--collector.textfile.directory {{ node_exporter_textfile_dir }}{% endif %}

[Install]
WantedBy=multi-user.target
