# {{ ansible_managed }}
[Unit]
Description=Loki log aggregation system
Documentation=https://grafana.com/oss/loki
Wants=network-online.target
After=network-online.target

[Service]
User=loki
Group=loki
Type=simple
ExecStart={{ host_bin_path }}/loki \
	--config.file {{ loki_config }}/loki.yml

[Install]
WantedBy=multi-user.target
