# {{ ansible_managed }}
[Unit]
Description=Home Assistant home automation system
Documentation=https://www.home-assistant.io/
Wants=network-online.target
After=network-online.target

[Service]
User=homeassistant
Group=homeassistant
Type=simple
ExecStart={{ host_bin_path }}/hass

[Install]
WantedBy=multi-user.target
