# prometheus - service job file

description "Prometheus metrics and monitoring system"
author "Matt Layher"

# Start after network and filesystem are available
start on filesystem and net-device-up IFACE!=lo

# When to stop the service
stop on runlevel [016]

# Automatically restart process if crashed
respawn

# Run as specific user
setuid prometheus
setgid prometheus

# What to execute
exec /usr/local/bin/prometheus -config.file {{ prometheus_config }} -storage.local.path {{ prometheus_data }} -storage.local.chunk-encoding-version 2
