# {{ ansible_managed }}
[Unit]
Description=Prometheus wireguard exporter
Documentation=https://github.com/mdlayher/wireguard_exporter
Wants=network-online.target
After=network-online.target

[Service]
User=wireguard_exporter
Group=wireguard_exporter
Type=simple
ExecStart={{ host_bin_path }}/wireguard_exporter{% if wireguard_exporter_peer_names is defined %} -wireguard.peer-names {{ wireguard_exporter_peer_names | join(",") }}{% endif %}

[Install]
WantedBy=multi-user.target
