# {{ ansible_managed }}
[Unit]
Description=Prometheus rTorrent exporter
Documentation=https://github.com/mdlayher/rtorrent_exporter
Wants=network-online.target
After=network-online.target

[Service]
User=rtorrent_exporter
Group=rtorrent_exporter
Type=simple
ExecStart={{ host_bin_path }}/rtorrent_exporter \
    -rtorrent.addr {{ rtorrent_exporter_addr }} \
    -rtorrent.username {{ rtorrent_exporter_username }} \
    -rtorrent.password {{ rtorrent_exporter_password }}

[Install]
WantedBy=multi-user.target
