# {{ ansible_managed }}
[Unit]
Description=Prometheus rtorrent exporter
Documentation=https://github.com/mdlayher/rtorrent_exporter
Wants=network-online.target
After=network-online.target

[Service]
User=rtorrent_exporter
Group=rtorrent_exporter
Type=simple
ExecStart=/usr/local/bin/rtorrent_exporter \
	-rtorrent.addr {{ rtorrent_exporter_scgi }}

[Install]
WantedBy=multi-user.target
