# {{ ansible_managed }}
# traefik configuration, Matt Layher, 2017-08-21

defaultEntryPoints = ["http", "https"]

[entryPoints]
  [entryPoints.http]
    address = ":80"
    [entryPoints.http.redirect]
      entryPoint = "https"
  [entryPoints.https]
    address = ":443"
    [entryPoints.https.tls]

[web]
address = ":8080"
  [web.metrics.prometheus]
  Buckets= [0.1,0.3,1.2,5.0]

[acme]
email = "{{ traefik_acme_email }}"
storage = "{{ traefik_config_dir }}/acme.json"
entryPoint = "https"

{% for domain in traefik_config %}
[[acme.domains]]
  main = "{{ domain.domain }}"
  {% if domain.acme_sans is defined %}
  sans = [
    {% for san in domain.acme_sans %}
    "{{ san }}",
    {% endfor %}
  ]
  {% endif %}
{% endfor %}

[file]

[frontends]
  {% for domain in traefik_config %}
  {% if domain.alias is defined %}
  [frontends.{{ domain.alias }}]
    backend = "{{ domain.alias }}"
    {% if domain.basic_auth is defined %}
    basicAuth = [
      {% for auth in domain.basic_auth %}
      "{{ auth }}",
      {% endfor %}
    ]
    {% endif %}
    [frontends.{{ domain.alias}}.routes.{{ domain.alias }}]
      rule = "{{ domain.frontend_rule }}"
  {% endif %}
  {% endfor %}

[backends]
  {% for domain in traefik_config %}
  {% if domain.alias is defined %}
  [backends.{{ domain.alias }}]
    [backends.{{ domain.alias}}.servers.{{ domain.alias }}]
      url = "{{ domain.backend_url }}"
  {% endif %}
  {% endfor %}